body{
    margin: 0;
    padding: 0;
    min-width: 1366px;
    background-color: #f5f3e4;
    font-family: "Poppins", sans-serif;
    
}

.container{
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px,50px);
    overflow: hidden;
}

.background{
    grid-column: 1 /span 12;
    grid-row: span 8;
    margin: 0;
    position: relative;
    overflow: hidden;

    text-align: center;
}
.main_bg{
    grid-column: 1 /span 12;
    grid-row: span 6;
    margin: 0;
    background-color: black;
    position: relative;
    overflow: hidden;
    background-image: url('assets/sky.jpg');
    text-align: center;
}
.box{
    width: 30%;
    height: 65%;
    line-height: 1.5;
    background: white;
    text-align: justify;
    padding: 40px 40px 40px 40px;
    float: right;
    margin: 5%;
    margin-right: 8%;
    margin-top: 30px;
    font:poppins;
    border-radius: 15px;
    background-color: #f5f3e4da;
    
}
.box h1{
    font-size: 50px;
    font: 'poppins',serif; /* not sure w the font yet here.❕poppins lovey ah⚠️*/
    text-shadow: 
    3px 3px 1px #f6ff00c6,
    4px 4px 1px #ffffff9e;
}
.box h3{
    font-size: 30px;
    margin-top: 7%;
}
.box h4{
    font-size: 20px;
    margin-top: -10%;
}
.box p{
    font-size: 20px;
    margin-top: -5%;
}
.box button{
    width: 25%;
    height: 10%;
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    border: 0;
    border-radius: 3px;
    background-color: #C0BA6E;
    transition: 0.3s;
}   
.box button:hover{
    background-color: #3B695F;
    color: #fff;
    scale: 1.1;
}

.case{
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
}
.case h1{
    max-width: 75%;
    text-align: left;
    font-size: 64px;
    margin-top: 5%; 
}
.case p{
    max-width: 75%;
    text-align: left;
    font-size: 24px;
 
}
.overview{
    grid-column: span 6;
    grid-row: span 7;
    margin: 0;
    background-color: #f5f3e4;
}

.overview button{
    width: 25%;
    height: 8%;
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    border: 0;  
    border-radius: 3px;
    background-color: #C0BA6E;
    transition: 0.3s;
}
.overview button:hover{
    background-color: #3B695F;
    scale:1.1;
}

.content3 button{
    width: 15%;
    height: 8%;
    margin-top: 20px;
    
    font-size: 20px;
    color: #ffffff;
    border: 0;  
    border-radius: 3px;
    background-color: #C0BA6E;
    transition: 0.3s;
}
.content3 button:hover{
    background-color: #3B695F;
    scale:1.1;
}
.btnz{
    width: 45%;
}
.btnz:hover{
    box-shadow:  4px 4px 4px 2px #ffffff;
}

.overview2{
    grid-column:span 6;
    grid-row: span 7;
    margin: 0;
    background-color: #ffffff;
}

.overview3{
    grid-column: span 12;
    grid-row: span 1;
    margin: 0;
    background-color: #f5f3e4;
}
.vid{
    grid-column: span 6;
    grid-row: span 7;
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
    position: absolute;
    font-size: 21px;
    color: white;
    text-align: left;  
    align-items: center;
    justify-content: center;
    width:60px; 
    height:60px;

}
nav{
    display: flex;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    text-align: right;  
    background-color: #00495f99;
    width: 100%;
    height: 10vh;
}
nav ul {
    padding-top: 30px;
    padding-right: 35px;
    list-style-type: none;
    margin: 0;
}
nav ul li {

    padding-right: 32px;
    display: inline;
}

nav ul li a {
    font-size: 21px;
    color: white;
    text-decoration: none;
}
.videobg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%; 
}
.intro{
    display: flex;
    justify-content: center;
    grid-column: 1 /span 13;
    grid-row: span 6;
    margin: 0;
    background-color: #f5f3e4;
    position: relative;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 0 5 5% rgba(0, 0, 0, 0.3);
    transition: transform 0.5s;
  }

.intro .card{
	width:308px;
	position: relative;
	height: 350px;
	background: #f0f0f0;
	margin:30px 10px;
	padding: 20px 15px;
	display:flex;
	flex-direction: column;
	box-shadow: 0.5px 10px #e6e6e6;
	transition:0.3s ease-in-out;
	margin-top: 3%;
    margin-bottom: 5%;
    border-radius: 15%;
}
.intro .card .imgBx{
	position: relative;
	width:260px;
	height: 260px;
	top: -60px;
	left:5px;
	box-shadow: 0 5px 20px rbga (0,0,0,1.2);

}

.intro .card .imgBx img
{
	max-width: 100%;
	border-radius: 10px;
    opacity: 1;
}

.imgBx:hover img{
	transform: scale(1.1);
}

/* slideshow section */
.sliders{
    grid-column: 1 /span 12;
    grid-row: span 4;
    background-color: #00495F;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-bottom: 8%;
}
.slider{
    height: 100%;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
  }
  
  .slide-track{
    display: flex;
    width: calc(250px * 12);
    animation: scroll 20s linear infinite;
  }
  
  .slide-track:hover{
    animation-play-state: paused;
  }
  
  @keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 6));    
    }
  }
  
  .slide{
    height: 250px;
    width: 550px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
  }
  
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 5 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s;
  }
  img:hover{
    transform: translateZ(20px);
  }
  
  .slider::before, .slider::after{
    content: "";
    height: 100%;
    position: absolute;
    width: 15px;
    z-index: 2;
  }
  
  .slider::before{
    left: 0;
    top: 0;
  }
  
  .slider::after{
    right: 0;
    top: 0;
    transform: rotate(360deg);
  }
  .slideshow{

	position: relative;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 8%;
}

.slideshow .card{
	width:808px;
	position: relative;
	height: 450px;
	background: #f0f0f0;
	margin:30px 10px;
	padding: 20px 15px;
	display:flex;
	flex-direction: column;
	box-shadow: 0.5px 10px #e6e6e6;
	transition:0.3s ease-in-out;
	margin-top: 5%;
}
.slideshow .card .imgBx{
	position: relative;
	width:360px;
	height: 360px;
	top: -60px;
	left:5px;
	box-shadow: 0 5px 20px rbga (0,0,0,1.2);

}

.slideshow .card .imgBx img
{
	max-width: 100%;
	border-radius: 10px;
    opacity: 1;
}

.imgBx:hover img{
	transform: scale(1.1);
}
/* wwd section */
.content{
    grid-column: 1 /span 12;
    grid-row: span 12;
    margin: 0;
    background-color: white;
    position: relative;
    overflow: hidden;
    width: 100%;
    grid-row: span 12; 
    
}
.about_bg{
    grid-column: 1 /span 12;
    grid-row: span 6;
    margin: 0;
    background-color: #f5f3e4;
    position: relative;
    overflow: hidden;
    text-align: center;
    justify-content: center;
}
/*contact*/

.contactsec{
    grid-column: 1 /span 12;
    grid-row: span 4;
    margin: 0;

    background-size: cover;
    position: relative;
    overflow: hidden;
    background-image: url('assets/dogbw.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.contactsec h1{
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 64px;
    
}
.content3 h1{
    font-size: 64px;
    margin-left: 2%;
}
.content3 p{
    font-size: 24px;
    margin-left: 2%;
}
.content3{
    grid-column: 1 /span 12;
    grid-row: span 7;
    background: #fff;
}
.content3 form{
    margin-left: 5%;
}
input[type="email"],
textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the submit button */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

/* Change button color on hover */
input[type="submit"]:hover {
    background-color: #0056b3;
}
.loc{
    float:right;
    margin: 5%;
}
/*events sec*/
.eventssec{
    grid-column: 1 /span 12;
    grid-row: span 6;
    margin: 0;
    background-color: black;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-image: url('assets/events5.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.events{
    grid-column: 1 /span 12;
    grid-row: span 6;
    background: #E8E6D7;
    
    padding-top: 2%;
    position: relative;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
  
}
.events p{
    margin-left: 3%;
}

.zoom{
    width: 450px;
    height:450px;

    float: left; 
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 1%;
    transition:0.3s ease-in-out;
}
.bed{
    width: 600px;
    height:450px;

    float: right; 
    margin-left: 1%;
    margin-right: 3%;
    margin-top: 1%;
}
.events:hover img.zoom {
    transform: scale(1.1);
}
.events:hover img.bed {
    transform: scale(1.1);
}

.events h1 {
    max-width: 75%;
    text-align: center; 
    font-size: 64px;
    max-width: 100%;
}

.events p {
    max-width: 95%; 
    margin-left: 5%;
    margin-right: 5%;
    font-size: 24px;
    text-align: justify;
}
.wander {
    color: black;
    animation: flicker 5s infinite alternate; 
}

@keyframes flicker {
    0% {
        color: black; 
    }
    25% {
        color: #00495F; 
    }
    50% {
        color:black; 
    }
    75% {
        color:  rgb(252, 168, 168); 
    }
    100%{
        color:black
    }
}
.wander2 {
    color: black;
    animation: flicker2 5s infinite alternate; 
}

@keyframes flicker2 {
    0% {
        color: black; 
    }
    50% {
        color: #ec2618; 
    }
    100% {
        color:black; 
    }
}
.wander3 {
    color: black;
    animation: flicker3 2s infinite alternate; 
}

@keyframes flicker3 {
    0% {
        color: black; 
    }
    25% {
        color: #ca0f02; 
    }
    
    50% {
        color:rgb(0, 123, 238); 
    }
    75% {
         color: #7404be; 

    }
    100% {
        color:black; 
    }

}

.overviewz{
    grid-column: 1 /span 12;
    grid-row: span 7;
    margin: 0;
    background-color: #f5f3e4;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.oc{
    width: 725px;
    height: 525px;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 3%;
    font-size: 30px;
    border-radius: 20px;
    color: white;
    padding: 20px;
    transition: 0.5s;
    background: url('assets/resc.jpg');
    background-size: cover;
}
.oc:hover{
    scale: 1.1;
}
.oc2{
    width: 725px;
    height: 525px;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 3%;
    font-size: 30px;
    color: white;
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s;
    background: url('assets/rehab.jpg');
    background-size: cover;
}
.oc2:hover{
    scale: 1.1;
}
.oc3{
    width: 725px;
    height: 525px;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 3%;
    color: white;
    font-size: 30px;
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s;
    background: url('assets/meet.jpg') ;
    background-size: cover;
}
.oc3:hover{
    scale: 1.1;
}
.oc4{
    width: 725px;
    height: 525px;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 3%;
    color: white;
    text-shadow: 4px 4px 4px 1px #00495F;
    font-size: 30px;
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s;
    background: url('assets/bwdog.jpg');
    background-size: cover;
}
.oc4:hover{
    
    scale: 1.1;
}
.overview4{
    display: flex;
    text-align: center;
    align-content: center;
    grid-column: span 13;
    grid-row: span 3;
    margin: 0;
    background-color: #f5f3e4;
    margin-left: auto;
    margin-right: auto;
}
.overview4 p{
    text-align: center;
}
.overview4 h1{
    text-align: center;
}
.owr{
    float: right;
 
    width: 100%;
    height: 50%;
}